.cards {
    border: 1px solid #fff;
    background: #C08C46;
    border-radius: 8px;
    overflow: hidden;
    margin: 30px;
    height: 430px;
   width: 430px;
    color: #fff;
    cursor: pointer;
  
  }
  
  .cards-top h2 {
    font-size: 1.3rem;
    margin: 10px;
  }
  .cards-top-2{
    height:770px;
  }
  .cards-top-2>img {
    width: 100%;
    object-fit: cover;  
  }
  .cards-top>img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background: #C08C46;
  }
  
  .cards-bottom {
    margin: 10px 20px;
    display: flex;
  }
  
  /* .category {
    position: relative;
  } */
  .cards .cards-bottom-left h4,p{
    justify-content: left;
    align-items:start;
    text-align:left;
  }
  .cards .cards-bottom-right p{
    justify-content:right;
   margin-left: 75px;
    text-align:right;
  }
  .fieldselect .btn-12 {
    background-color: #C08C46;
    font-size: large;
    color: beige;
    margin: 30px;
    /* border: 2px solid rgb(0, 0, 0); */
    height: 40px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .fieldselect .btn-21 {
    background-color: #C08C46;
    font-size: large;
    color: beige;
    margin: 30px;
    border: 1px solid beige;
    border: 2px solid rgb(0, 0, 0);
    height: 40px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .rowindex {
  
    display: flex;
    margin-right:10px ;
    margin-left: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .colindex {
    width: 23%; /* Adjust as needed */
  }
  
  .cards {
    border: 1px solid #ccc;
    padding: 1px;
    box-sizing: border-box;
    /* height: 100%; Adjust this if needed */
  }
  